@charset "UTF-8";
/* CSS Document */

.main {
	width: 700px;
}

h1 {
	color:white;
}

.center {
	position: absolute;
	margin: auto;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
}

body{
	background-image: url("pics/background-black.png");
    background-repeat: repeat;
}

textarea{
	resize: vertical;
}

.panel-heading a:after {
    font-family: 'Glyphicons Halflings';
    content: "\e114";    
    float: right; 
    color: grey; 
}
.panel-heading a.collapsed:after {
    content: "\e080";
}

.modal-body{
	text-align: justify;
}
